USE [master]
    GO
/****** Object:  Database [Demo]    Script Date: 25.1.2017 г. 14:01:37 ******/
CREATE DATABASE [Demo]
    GO
USE [Demo]
    GO
USE [Demo]
    GO
/****** Object:  Table [dbo].[Customers]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Customers]
(
    [
    CustomerID] [
    int]
    NOT
    NULL, [
    FirstName] [
    nvarchar]
(
    50
) NOT NULL,
    [LastName] [nvarchar]
(
    50
) NOT NULL,
    [PaymentNumber] [char]
(
    16
) NOT NULL
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Lines]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Lines]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [X1] [float] NOT NULL,
    [Y1] [float] NOT NULL,
    [X2] [float] NOT NULL,
    [Y2] [float] NOT NULL,
    CONSTRAINT [PK_Lines] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Minions]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Minions]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Name] [varchar]
(
    50
) NULL,
    [Age] [int] NULL
    ) ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[People]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[People]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Email] [varchar]
(
    255
) NOT NULL,
    [FirstName] [nvarchar]
(
    50
) NULL,
    [LastName] [nvarchar]
(
    50
) NULL,
    [Salary] [money] NULL,
    PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Products]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Products]
(
    [
    Id] [
    int]
    NOT
    NULL, [
    Name] [
    varchar]
(
    50
) NOT NULL,
    [Quantity] [int] NOT NULL,
    [BoxCapacity] [int] NOT NULL,
    [PalletCapacity] [int] NOT NULL,
    CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Rectangles]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Rectangles]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [A] [float] NOT NULL,
    [B] [float] NOT NULL,
    CONSTRAINT [PK_Rectangles] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Towns]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Towns]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Name] [varchar]
(
    50
) NULL,
    PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Triangles]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Triangles]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [A] [float] NOT NULL,
    [B] [float] NOT NULL,
    [C] [float] NOT NULL,
    CONSTRAINT [PK_Triangles] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Triangles2]    Script Date: 25.1.2017 г. 14:01:37 ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Triangles2]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [A] [float] NOT NULL,
    [H] [float] NOT NULL
    ) ON [PRIMARY]
    GO
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [PaymentNumber])
VALUES (1, N'Guy', N'Gilbert', N'5645322227179083')
    GO
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [PaymentNumber])
VALUES (2, N'Kevin', N'Brown', N'4417937746396076')
    GO
INSERT [dbo].[Customers] ([CustomerID], [FirstName], [LastName], [PaymentNumber])
VALUES (3, N'Roberto', N'Tamburello', N'7927545745782378')
    GO
SET IDENTITY_INSERT[dbo].[Lines] ON

GO
INSERT [dbo].[Lines] ([Id], [X1], [Y1], [X2], [Y2])
VALUES (1, 0, 0, 10, 0)
    GO
INSERT [dbo].[Lines] ([Id], [X1], [Y1], [X2], [Y2])
VALUES (2, 0, 0, 5, 3)
    GO
INSERT [dbo].[Lines] ([Id], [X1], [Y1], [X2], [Y2])
VALUES (4, -1, 5, 8, -3)
    GO
SET IDENTITY_INSERT[dbo].[Lines] OFF
GO
INSERT [dbo].[Products] ([Id], [Name], [Quantity], [BoxCapacity], [PalletCapacity])
VALUES (1, N'Perlenbacher 500ml', 108, 6, 18)
    GO
INSERT [dbo].[Products] ([Id], [Name], [Quantity], [BoxCapacity], [PalletCapacity])
VALUES (2, N'Perlenbacher 500ml', 10, 6, 18)
    GO
INSERT [dbo].[Products] ([Id], [Name], [Quantity], [BoxCapacity], [PalletCapacity])
VALUES (3, N'Chocolate Chips', 350, 24, 3)
    GO
SET IDENTITY_INSERT[dbo].[Rectangles] ON
    GO
INSERT [dbo].[Rectangles] ([Id], [A], [B])
VALUES (1, 2, 4)
    GO
INSERT [dbo].[Rectangles] ([Id], [A], [B])
VALUES (2, 1, 18)
    GO
INSERT [dbo].[Rectangles] ([Id], [A], [B])
VALUES (3, 4.5, 3)
    GO
SET IDENTITY_INSERT[dbo].[Rectangles] OFF
    GO
SET IDENTITY_INSERT[dbo].[Triangles] ON
    GO
INSERT [dbo].[Triangles] ([Id], [A], [B], [C])
VALUES (1, 3, 4, 5)
    GO
INSERT [dbo].[Triangles] ([Id], [A], [B], [C])
VALUES (2, 2, 5, 4)
    GO
INSERT [dbo].[Triangles] ([Id], [A], [B], [C])
VALUES (3, 1.5, 1.5, 2)
    GO
SET IDENTITY_INSERT[dbo].[Triangles] OFF
    GO
SET IDENTITY_INSERT[dbo].[Triangles2] ON
    GO
INSERT [dbo].[Triangles2] ([Id], [A], [H])
VALUES (1, 2, 4)
    GO
INSERT [dbo].[Triangles2] ([Id], [A], [H])
VALUES (2, 1, 18)
    GO
INSERT [dbo].[Triangles2] ([Id], [A], [H])
VALUES (3, 4.5, 3)
    GO
SET IDENTITY_INSERT[dbo].[Triangles2] OFF
    GO
SET ANSI_PADDING ON
    GO
/****** Object:  Index [UQ__People__A9D10534FDC618ED]    Script Date: 25.1.2017 г. 14:01:37 ******/
ALTER TABLE [dbo].[People] ADD UNIQUE NONCLUSTERED
    (
    [Email] ASC
    ) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
    GO
USE [master]
    GO
