USE [master]
    GO
/****** Object:  Database [Diablo]    Script Date: 7/10/2015 8:03:42 PM ******/
CREATE DATABASE [Diablo]
    COLLATE SQL_Latin1_General_CP1_CI_AS;
GO

USE [Diablo]
    GO

CREATE TABLE [dbo].[Characters]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Name] [nvarchar]
(
    50
) NOT NULL,
    [StatisticId] [int] NULL,
    CONSTRAINT [PK_Characters] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Games]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Games]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Name] [nvarchar]
(
    50
) NOT NULL,
    [Start] [datetime] NOT NULL,
    [Duration] [int] NULL,
    [GameTypeId] [int] NOT NULL,
    [IsFinished] [bit] NOT NULL,
    CONSTRAINT [PK_Games] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[GameTypeForbiddenItems]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[GameTypeForbiddenItems]
(
    [
    ItemId] [
    int]
    NOT
    NULL, [
    GameTypeId] [
    int]
    NOT
    NULL,
    CONSTRAINT [
    PK_GameTypeForbiddenItems]
    PRIMARY
    KEY
    CLUSTERED
    (
    [
    ItemId]
    ASC,
[
    GameTypeId]
    ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[GameTypes]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[GameTypes]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Name] [nvarchar]
(
    50
) NOT NULL,
    [BonusStatsId] [int] NULL,
    CONSTRAINT [PK_GameTypes] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Items]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Items]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Name] [nvarchar]
(
    50
) NULL,
    [ItemTypeId] [int] NOT NULL,
    [StatisticId] [int] NOT NULL,
    [Price] [money] NOT NULL,
    [MinLevel] [int] NOT NULL,
    CONSTRAINT [PK_Items] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[ItemTypes]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[ItemTypes]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Name] [nvarchar]
(
    50
) NOT NULL,
    CONSTRAINT [PK_ItemTypes] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Statistics]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Statistics]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Strength] [int] NOT NULL,
    [Defence] [int] NOT NULL,
    [Mind] [int] NOT NULL,
    [Speed] [int] NOT NULL,
    [Luck] [int] NOT NULL,
    CONSTRAINT [PK_Statistics] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[UserGameItems]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[UserGameItems]
(
    [
    ItemId] [
    int]
    NOT
    NULL, [
    UserGameId] [
    int]
    NOT
    NULL,
    CONSTRAINT [
    PK_UserGameItems]
    PRIMARY
    KEY
    CLUSTERED
    (
    [
    ItemId]
    ASC,
[
    UserGameId]
    ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[Users]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [Username] [nvarchar]
(
    50
) NOT NULL,
    [FirstName] [nvarchar]
(
    50
) NULL,
    [LastName] [nvarchar]
(
    50
) NULL,
    [Email] [nvarchar]
(
    50
) NULL,
    [RegistrationDate] [datetime] NOT NULL,
    [IsDeleted] [bit] NOT NULL,
    [IpAddress] [nvarchar]
(
    15
) NOT NULL,
    CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
/****** Object:  Table [dbo].[UsersGames]    Script Date: 7/10/2015 8:03:42 PM ******/
SET ANSI_NULLS ON
    GO
SET QUOTED_IDENTIFIER ON
    GO
CREATE TABLE [dbo].[UsersGames]
(
    [
    Id] [
    int]
    IDENTITY
(
    1,
    1
) NOT NULL,
    [GameId] [int] NOT NULL,
    [UserId] [int] NOT NULL,
    [CharacterId] [int] NOT NULL,
    [Level] [int] NOT NULL,
    [JoinedOn] [datetime] NOT NULL,
    [Cash] [money] NOT NULL,
    CONSTRAINT [PK_UsersGames_1] PRIMARY KEY CLUSTERED
(
[
    Id] ASC
) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON)
  ON [PRIMARY]
    )
  ON [PRIMARY]
    GO
SET IDENTITY_INSERT[dbo].[Characters] ON

INSERT [dbo].[Characters] ([Id], [Name], [StatisticId])
VALUES (1, N'Barbarian', 1)
INSERT [dbo].[Characters] ([Id], [Name], [StatisticId])
VALUES (2, N'Crusader', 2)
INSERT [dbo].[Characters] ([Id], [Name], [StatisticId])
VALUES (3, N'Demon Hunter', 4)
SET IDENTITY_INSERT[dbo].[Characters] OFF
SET IDENTITY_INSERT[dbo].[Games] ON

INSERT [dbo].[Games] ([Id], [Name], [Start], [Duration], [GameTypeId], [IsFinished])
VALUES (1, N'Aithusa', CAST(0x0000A34301804F98 AS DateTime), 4, 2, 0)
INSERT [dbo].[Games] ([Id], [Name], [Start], [Duration], [GameTypeId], [IsFinished])
VALUES (2, N'Acid green', CAST(0x0000A3A300065130 AS DateTime), 7, 5, 0)
INSERT [dbo].[Games] ([Id], [Name], [Start], [Duration], [GameTypeId], [IsFinished])
VALUES (3, N'Apple', CAST(0x0000A388003BE020 AS DateTime), 6, 3, 1)
    GO
SET IDENTITY_INSERT[dbo].[Games] OFF
INSERT [dbo].[GameTypeForbiddenItems] ([ItemId], [GameTypeId])
VALUES (1, 1)
INSERT [dbo].[GameTypeForbiddenItems] ([ItemId], [GameTypeId])
VALUES (7, 1)
INSERT [dbo].[GameTypeForbiddenItems] ([ItemId], [GameTypeId])
VALUES (9, 1)
    GO
SET IDENTITY_INSERT[dbo].[GameTypes] ON

INSERT [dbo].[GameTypes] ([Id], [Name], [BonusStatsId])
VALUES (1, N'Expert', 116)
INSERT [dbo].[GameTypes] ([Id], [Name], [BonusStatsId])
VALUES (2, N'Beginner', 117)
INSERT [dbo].[GameTypes] ([Id], [Name], [BonusStatsId])
VALUES (3, N'Kinky', 118)
SET IDENTITY_INSERT[dbo].[GameTypes] OFF
SET IDENTITY_INSERT[dbo].[Items] ON

INSERT [dbo].[Items] ([Id], [Name], [ItemTypeId], [StatisticId], [Price], [MinLevel])
VALUES (1, N'Adventurers Journal', 2, 92, 720.0000, 24)
INSERT [dbo].[Items] ([Id], [Name], [ItemTypeId], [StatisticId], [Price], [MinLevel])
VALUES (2, N'Aether Walker', 27, 102, 473.0000, 46)
INSERT [dbo].[Items] ([Id], [Name], [ItemTypeId], [StatisticId], [Price], [MinLevel])
VALUES (3, N'Ageless Might', 14, 32, 714.0000, 76)
    GO
SET IDENTITY_INSERT[dbo].[Items] OFF
SET IDENTITY_INSERT[dbo].[ItemTypes] ON

INSERT [dbo].[ItemTypes] ([Id], [Name])
VALUES (1, N'Axe')
INSERT [dbo].[ItemTypes] ([Id], [Name])
VALUES (2, N'Dagger')
INSERT [dbo].[ItemTypes] ([Id], [Name])
VALUES (3, N'Mace')
SET IDENTITY_INSERT[dbo].[ItemTypes] OFF
SET IDENTITY_INSERT[dbo].[Statistics] ON

INSERT [dbo].[Statistics] ([Id], [Strength], [Defence], [Mind], [Speed], [Luck])
VALUES (1, 20, 15, 5, 10, 5)
INSERT [dbo].[Statistics] ([Id], [Strength], [Defence], [Mind], [Speed], [Luck])
VALUES (2, 12, 15, 12, 15, 3)
INSERT [dbo].[Statistics] ([Id], [Strength], [Defence], [Mind], [Speed], [Luck])
VALUES (4, 14, 13, 16, 12, 8)
    GO
SET IDENTITY_INSERT[dbo].[Statistics] OFF
INSERT [dbo].[UserGameItems] ([ItemId], [UserGameId])
VALUES (1, 33)
INSERT [dbo].[UserGameItems] ([ItemId], [UserGameId])
VALUES (1, 45)
INSERT [dbo].[UserGameItems] ([ItemId], [UserGameId])
VALUES (1, 79)
    GO
SET IDENTITY_INSERT[dbo].[Users] ON

INSERT [dbo].[Users] ([Id], [Username], [FirstName], [LastName], [Email], [RegistrationDate], [IsDeleted], [IpAddress])
VALUES (1, N'VGeorgiev', N'Vladimir', N'Georgiev', N'vlado@softuni.bg', CAST(0x0000A29600000000 AS DateTime), 0, N'74.212.145.183')
INSERT [dbo].[Users] ([Id], [Username], [FirstName], [LastName], [Email], [RegistrationDate], [IsDeleted], [IpAddress])
VALUES (2, N'nakov', N'Svetlin', N'Nakov', N'nakov@softuni.bg', CAST(0x0000A29800000000 AS DateTime), 0, N'14.51.35.30')
INSERT [dbo].[Users] ([Id], [Username], [FirstName], [LastName], [Email], [RegistrationDate], [IsDeleted], [IpAddress])
VALUES (3, N'vladislav.karamfilov', N'Vladislav', N'Karamfilov', N'vladislav@softuni.bg', CAST(0x0000A2AA00000000 AS DateTime), 0, N'84.191.139.65')
SET IDENTITY_INSERT[dbo].[Users] OFF
SET IDENTITY_INSERT[dbo].[UsersGames] ON

INSERT [dbo].[UsersGames] ([Id], [GameId], [UserId], [CharacterId], [Level], [JoinedOn], [Cash])
VALUES (1, 137, 31, 1, 71, CAST(0x0000A1C100000000 AS DateTime), 6122.0000)
INSERT [dbo].[UsersGames] ([Id], [GameId], [UserId], [CharacterId], [Level], [JoinedOn], [Cash])
VALUES (2, 95, 12, 4, 30, CAST(0x0000A15F00000000 AS DateTime), 5485.0000)
INSERT [dbo].[UsersGames] ([Id], [GameId], [UserId], [CharacterId], [Level], [JoinedOn], [Cash])
VALUES (3, 102, 34, 4, 76, CAST(0x00009DAD00000000 AS DateTime), 7033.0000)
    GO
SET IDENTITY_INSERT[dbo].[UsersGames] OFF
ALTER TABLE [dbo].[Games] ADD CONSTRAINT [DF_Games_IsFinished] DEFAULT ((0)) FOR [IsFinished]
    GO
ALTER TABLE [dbo].[Users] ADD CONSTRAINT [DF_Users_IsDeleted] DEFAULT ((0)) FOR [IsDeleted]
    GO
ALTER TABLE [dbo].[UsersGames] ADD CONSTRAINT [DF_UsersGames_Cash] DEFAULT ((1000)) FOR [Cash]
    GO
ALTER TABLE [dbo].[Characters] WITH CHECK ADD CONSTRAINT [FK_Characters_Statistics] FOREIGN KEY ([StatisticId])
    REFERENCES [dbo].[Statistics] ([Id])
    GO
ALTER TABLE [dbo].[Characters] CHECK CONSTRAINT [FK_Characters_Statistics]
    GO
ALTER TABLE [dbo].[Games] WITH CHECK ADD CONSTRAINT [FK_Games_GameTypes] FOREIGN KEY ([GameTypeId])
    REFERENCES [dbo].[GameTypes] ([Id])
    GO
ALTER TABLE [dbo].[Games] CHECK CONSTRAINT [FK_Games_GameTypes]
    GO
ALTER TABLE [dbo].[GameTypeForbiddenItems] WITH CHECK ADD CONSTRAINT [FK_GameTypeForbiddenItems_GameTypes] FOREIGN KEY ([GameTypeId])
    REFERENCES [dbo].[GameTypes] ([Id])
    GO
ALTER TABLE [dbo].[GameTypeForbiddenItems] CHECK CONSTRAINT [FK_GameTypeForbiddenItems_GameTypes]
    GO
ALTER TABLE [dbo].[GameTypeForbiddenItems] WITH CHECK ADD CONSTRAINT [FK_GameTypeForbiddenItems_Items] FOREIGN KEY ([ItemId])
    REFERENCES [dbo].[Items] ([Id])
    GO
ALTER TABLE [dbo].[GameTypeForbiddenItems] CHECK CONSTRAINT [FK_GameTypeForbiddenItems_Items]
    GO
ALTER TABLE [dbo].[GameTypes] WITH CHECK ADD CONSTRAINT [FK_GameTypes_Statistics] FOREIGN KEY ([BonusStatsId])
    REFERENCES [dbo].[Statistics] ([Id])
    GO
ALTER TABLE [dbo].[GameTypes] CHECK CONSTRAINT [FK_GameTypes_Statistics]
    GO
ALTER TABLE [dbo].[Items] WITH CHECK ADD CONSTRAINT [FK_Items_ItemTypes] FOREIGN KEY ([ItemTypeId])
    REFERENCES [dbo].[ItemTypes] ([Id])
    GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_ItemTypes]
    GO
ALTER TABLE [dbo].[Items] WITH CHECK ADD CONSTRAINT [FK_Items_Statistics] FOREIGN KEY ([StatisticId])
    REFERENCES [dbo].[Statistics] ([Id])
    GO
ALTER TABLE [dbo].[Items] CHECK CONSTRAINT [FK_Items_Statistics]
    GO
ALTER TABLE [dbo].[UserGameItems] WITH CHECK ADD CONSTRAINT [FK_UserGameItems_Items] FOREIGN KEY ([ItemId])
    REFERENCES [dbo].[Items] ([Id])
    GO
ALTER TABLE [dbo].[UserGameItems] CHECK CONSTRAINT [FK_UserGameItems_Items]
    GO
ALTER TABLE [dbo].[UserGameItems] WITH CHECK ADD CONSTRAINT [FK_UserGameItems_UsersGames] FOREIGN KEY ([UserGameId])
    REFERENCES [dbo].[UsersGames] ([Id])
    GO
ALTER TABLE [dbo].[UserGameItems] CHECK CONSTRAINT [FK_UserGameItems_UsersGames]
    GO
ALTER TABLE [dbo].[UsersGames] WITH CHECK ADD CONSTRAINT [FK_UsersGames_Characters] FOREIGN KEY ([CharacterId])
    REFERENCES [dbo].[Characters] ([Id])
    GO
ALTER TABLE [dbo].[UsersGames] CHECK CONSTRAINT [FK_UsersGames_Characters]
    GO
ALTER TABLE [dbo].[UsersGames] WITH CHECK ADD CONSTRAINT [FK_UsersGames_Games] FOREIGN KEY ([GameId])
    REFERENCES [dbo].[Games] ([Id])
    GO
ALTER TABLE [dbo].[UsersGames] CHECK CONSTRAINT [FK_UsersGames_Games]
    GO
ALTER TABLE [dbo].[UsersGames] WITH CHECK ADD CONSTRAINT [FK_UsersGames_Users1] FOREIGN KEY ([UserId])
    REFERENCES [dbo].[Users] ([Id])
    GO
ALTER TABLE [dbo].[UsersGames] CHECK CONSTRAINT [FK_UsersGames_Users1]
    GO
ALTER TABLE [dbo].[UsersGames] WITH CHECK ADD CONSTRAINT [CK_UsersGames] CHECK (([Cash]>=(0)))
    GO
ALTER TABLE [dbo].[UsersGames] CHECK CONSTRAINT [CK_UsersGames]
    GO
USE [master]
    GO
